
<div class="d-flex justify-content-evenly"> 
    <a asp-controller="Auth" asp-action=""> 
        <button  class="btn btn-info" type="submit">Buscar libros</button>
    </a>

    <a asp-controller="Bibliotecario" asp-action="Registerbook"> 
        <button class="btn btn-success" type="submit">Registar libro</button>
    </a>
    <a asp-controller="Auth" asp-action=""> 
        <button class="btn btn-success" type="submit">Historial De Prestamos</button>
    </a>
     <a asp-controller="Auth" asp-action=""> 
        <button class="btn btn-success" type="submit">Realizar Prestamos</button>
    </a>

</div>