<section id="header-title" class="mb-4">
  <div class="row justify-content-center">
    <div class="col-4 bg-danger rounded-pill text-center text-white">
      <h2>Realizar prestamo</h2>
    </div>
  </div>
</section>

<section class="d-flex w-25 justify-content-center">
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" id="bookID" placeholder="Book ID...">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="userID" placeholder="User ID...">
    </div>
    <button type="submit" class="btn btn-primary">Borrow</button>
  </form>
</section>