@{
  string[] tableHeaders = {"#", "Name", "Author", "Genres", "Language", "Publication Year", "State", "Actions"};
}
<section>
  <section id="seach_bar">

  </section>

  <section id="result_table">
    <table class="table">
      <thead>
        <tr>
          @foreach (var header in tableHeaders)
          {
            <th scope="col">@header</th>
          }
          @* <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Genero</th>
          <th scope="col">Idioma</th>
          <th scope="col"></th>
          <th scope="col">Genero</th> *@
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          @* <td>@mdo</td> *@
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          @* <td>@fat</td> *@
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          @* <td>@twitter</td> *@
        </tr>
      </tbody>
    </table> 
  </section>
</section>