@{
  string[] tableHeaders = {"#", "Title", "Author", "Genre", "Language", "Publication Year", "State", "Actions"};
  string[] user = {"1", "Cada dia", "Issabela Allende", "Romance", "Spanish", "2009", "Avalible", "Delete"};
}
<section>

  <section id="seach_bar">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon1">
    </div>
  </section>

  <section id="result_table">
    <table class="table">
      <thead>
        <tr>
          @foreach (var header in tableHeaders)
          {
            <th scope="col">@header</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          @foreach (var header in user)
          {
            <td scope="col">@header</td>
          }
        </tr>
      </tbody>
    </table> 
  </section>
</section>