<a asp-controller="Auth" asp-action="Register"> 
    <button  class="btn btn-info" type="submit">Registrate</button>
</a>

<a asp-controller="Auth" asp-action="Login"> 
    <button class="btn btn-success" type="submit">Ver libros</button>
</a>